* {
  font-family: Optima Medium;
}

@font-face {
  font-family: "Optima Medium";
  src: url("../font/Optima\ Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

/* Logo */
.logo {
  margin-top: 10px;
  max-width: 200px;
  width: 100%;
  margin-bottom: 6px;
}

/* Iconos */
.icono {
  width: 30px;
  height: 30px;
}

body {
  font-family: 'Optima Medium', sans-serif;
  background-color: #fbfcfc;
  text-align: center;
}

#piel {
  background-color: #afb9ce;
  padding: 20px;
  border-radius: 8px;
}

.card img {
  width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
  height: 200px; /* Altura fija para las imágenes */
  object-fit: contain; /* Asegura que la imagen completa sea visible */
  display: block;
  margin: auto; /* Centra horizontalmente */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #afb9ce !important;
  border-color: rgb(68, 0, 255) !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color:#344c74  !important;
  border-color: rgb(172, 186, 194) !important;
  color: #ffffff !important;
}

.inicio a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid rgb(192, 206, 214);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.simple-footer {
  border-top: 2px solid rgba(55, 0, 255, 0.2);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c757d;
  font-size: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-social a {
  margin-left: 10px;
  color: #6c757d;
  font-size: 26px;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-social a {
    margin: 0 5px;
  }
}